/* Home Page Header */
.home-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/latar1.jpg);
    background-size: cover;
    background-position: center;
}

/* General Section Styling */
.home-page section {
    padding: 5rem 0;
    transition: background 0.5s ease-in-out;
}

.about-img {
    flex: 1;
}

.about-text {
    flex: 1;
}

.about-text p {
    text-align: justify;
}

/* Blog Section */
.blog-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/latar1.jpg);
    background-size: cover;
    background-position: center;
}
